@font-face {
    src: url("../fonts/Roundo-Regular.ttf");
}

AnchorPane{
    -fx-background-image: url("../img/background.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-background-size: cover;
}

TextField{
    -fx-background-radius: 18 18 18 18;
    -fx-border-radius: 18 18 18 18;
    -fx-focus-color: #A60707 ;
}

PasswordField{
    -fx-background-radius: 18 18 18 18;
    -fx-border-radius: 18 18 18 18;
    -fx-focus-color: #A60707 ;
}

Button{
    -fx-background-radius: 18 18 18 18;
    -fx-border-radius: 18 18 18 18;
    -fx-background-color: #A60707;
    -fx-text-fill: #FFFFFF;
}

Button Text{
    -fx-font-family: 'Roundo';
    -fx-text-size: 24px;
}

Button:hover{
    -fx-background-radius: 18 18 18 18;
    -fx-border-radius: 18 18 18 18;
    -fx-background-color: #8c0707;
}

Text{
    -fx-font-family: 'Roundo';
}